<%= form_for(@community) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :title, communityholder: "Community Title..." %>
    <%= f.text_area :body, communityholder: "Community Body..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>