<li id="community-<%= community.id %>">

  <!-- ユーザー画像 -->
  <%= link_to gravatar_for(community.user, size: 50), community.user %>

  <!-- ユーザー名 -->
  <span class="user"><%= link_to community.user.name, community.user %></span>

  <!-- Communityタイトル -->
  <span class="community_title"><%= community.title %></span>

  <!-- Communityボディ -->
  <span class="community_body">
    <%= community.body %>
    <!-- アップロードPicture -->
    <%= image_tag community.picture.url if community.picture? %>
  </span>

  <!-- 詳細表示ボタン -->
  <%= link_to "詳細", community, class: "btn btn-sm btn-primary"%>

  <!-- Delete -->
  <% if current_user?(community.user) %>
    <%= link_to "delete", community, method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
  
</li>