<li id="community-<%= community.id %>">

  <!-- Communityヘッダ部分 -->
  <div class="community_header">
    <!-- タグ -->
    <span class="col-md-7">
      <span class="tag">Ruby on Rails</span>
    </span>

    <!-- ユーザー名 -->
    <span class="col-md-3">
      <span class="user-name">
        <%= link_to gravatar_for(community.user, size: 24), community.user %>
        <%= link_to community.user.name.truncate(18), community.user %>
      </span>
    </span>

    <!-- 更新日 -->
    <span class="col-md-2">
      <span class="time-stamp">公開日: <%= community.updated_at %></span>
    </span>
  </div>


  <!-- Communityタイトル （32文字以上は...と省略させる）-->
  <div class="community_title">
    <%= link_to community.title.truncate(32), community%>
  </div>


  <!-- Communityボディ -->
  <div>
    <!-- 本文（64文字以上は...と省略させる）-->
    <span class="col-md-10">
      <span class="community_body"><%= community.body.truncate(52) %></span>
    </span>

    <!-- フォロワー人数 -->
    <span class="col-md-2">
      <span class="follower">10人</span>
    </span>
  </div>
  
</li>