<% provide(:title, "Edit community") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <!-- 戻るボタン -->
    <%= link_to "戻る", @community, class: "btn btn-sm btn-primary" %>
    
    <h1>Update your community</h1>
    
    <%= form_for(@community) do |f| %>
      <%= render 'shared/error_messages', object: f.object%>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
      <%= f.label :body %>
      <%= f.text_field :body, class: 'form-control' %>
      <%= f.label :picture %>
      <p><%= image_tag @community.picture.url if @community.picture? %></p>
      <span class="picture">
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      </span>
      <%= f.submit "Update changes", class: "btn btn-primary" %>
    <% end %>
    
    <div class="gravatar_edit">
      <%= gravatar_for @community.user %>
      <p><%= @community.user.name %></p>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
    
  </div>
</div>