<% provide(:title, "New community") %>


<ul class="community-edit">

  <!-- 操作ボタン（左サイドバー） -->
  <div class="side-leftbar">

    <!-- ユーザー情報 -->
    <% if logged_in? %>
      <section>
      <div class="center side-icon">
          <%= link_to gravatar_for(@user, size: 96), @user %>
      </div>
      </section>

      <div class="center">
        <span class="side-user">
            <%= link_to @user.name, @user %>
        </span>
      </div>
    <% end %>

    <!--戻るボタン-->
    <div class="side-btn">
      <%= link_to "戻る", @user, class: "btn btn-sm btn-primary btn-block" %>
    </div>

  </div>

  <!-- コミュニティー詳細のメインブロック -->
  <div class="main">

    <!-- 入力フォーム -->
    <%= form_for(@community) do |f| %>

      <%= render 'shared/error_messages', object: f.object%>

      <div class="form-block">
        <%= f.label "タイトル" %>
        <%= f.text_field :title, class: 'form-control' %>
        <p>*30字以内</p>
      </div>

      <div class="form-block">
        <%= f.label "内容" %>
        <%= f.text_area :body, size: "200x15", class: 'form-control' %>
        <p>*1000字以内</p>
      </div>

      <div class="form-block">
        <%= f.label "添付画像" %>
        <p><%= image_tag @community.picture.url if @community.picture? %></p>
        <span class="picture">
          <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
        </span>
      </div>

      <div class="form-block">
        <%= f.submit "登 録", class: "btn btn-primary" %>
      </div>

    <% end %>

    </div>
  </div>
</ul>